<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <appSettings>
        <add key="BawBag/JabbrUrl" value="http://debauchery.apphb.com" />
        <add key="BawBag/JabbrNick" value="BawBag" />
        <add key="BawBag/JabbrPassword" value="B4wB4g" />
        <add key="BawBag/Rooms" value="Debauchery,BawBag" />
        <add key="BawBag/Admins" value="CompileThis" />
        <add key="BawBag/RavenDbUrl" value="http://localhost:8081" />
    </appSettings>
</configuration>