<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add key="BawBag/JabbrNick" value="BawBag-Test" xdt:Transform="Replace" xdt:Locator="Match(key)" />
        <add key="BawBag/JabbrPassword" value="B4wB4g"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
        <add key="BawBag/Rooms" value="BawBag" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    </appSettings>
</configuration>