<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets  async="true">
    <target name="File" xsi:type="File" fileName="${basedir}/logs/${shortdate}.txt"
            header="=== STARTED Veropath Taskmanager Server - ${date} ==="
            layout="${level:uppercase=true} ${time} | ${message} ${exception:format=tostring}"
            footer="=== STOPPED Veropath Taskmanager Server - ${date} ==="
                />

    <target name="Console" xsi:type="ColoredConsole"
            header="=== STARTED Veropath Taskmanager Server - ${date} ==="
            layout="${level:uppercase=true} ${time} | ${message} ${exception:format=tostring}"
            footer="=== STOPPED Veropath Taskmanager Server - ${date} ==="
                />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="File,Console" />
  </rules>
</nlog>